{% extends 'base.html.twig' %}

{% block title %}Recruteur
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Recruteur</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>N°</th>
					<td>{{ recruteur.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ recruteur.user.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ recruteur.user.firstname }}</td>
				</tr>
				<tr>
					<th>Adresse mail</th>
					<td>{{ recruteur.user.email }}</td>
				</tr>

				<tr>
					<th>Nom de la société</th>
					<td>{{ recruteur.firmName }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ recruteur.addressFirm }}</td>
				</tr>

				<tr>
					<th>Code postal</th>
					<td>{{ recruteur.zipcode }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ recruteur.city }}</td>
				</tr>
				<tr>
					<th>Etat de validation</th>
					<td>{{ recruteur.isValided ? 'Oui' : 'Non' }}</td>
				</tr>
				{# <tr>
																													<th>IsRGPD</th>
																													<td>{{ recruteur.isRGPD ? 'Yes' : 'No' }}</td>
																												</tr> #}
			</tbody>
		</table>

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_recruteur_index') }}">Retour à la liste</a>


		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_recruteur_edit', {'id': recruteur.id}) }}">Valider</a>

		{{ include('pages/recruteur/_delete_form.html.twig') }}

	</div>

{% endblock %}
